default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  port: 5432

development:
  <<: *default
  schema_search_path: app_rails
  database: danieloliveira
  username: danieloliveira
  password: 123456
  host: 127.0.0.1

test:
  <<: *default
  schema_search_path: app_rails_test
  database: danieloliveira
  username: danieloliveira
  password: 123456
  host: 127.0.0.1

production:
  <<: *default
  schema_search_path: app_rails_production
  database: postgres
  username: postgres
  password: 123456
  host: 172.25.137.160